.angelcam-connector__details {
    margin: 2rem 0;
}

.angelcam-connector__details-section {
    display: block;
    margin: 1em 0;
}

.angelcam-connector__details-section--label {
    font-weight: bold;
}

@media only screen and (min-width: 1000px) {
    .angelcam-connector__details-section {
        display: flex;
    }

    .angelcam-connector__details-section--label {
        width: 10em;
    }
}

.angelcam-connector__cta {
    display: flex;
    margin: 2rem 0;
    justify-content: center;
}

.angelcam-connector__cta a {
    display: block;
    color: #313a46;
    border: 2px solid #313a46;
    border-radius: 2.6em;
    padding: .8em 1.6em;
    transition-duration: 300ms;
}

.angelcam-connector__cta a:hover {
    text-decoration: none;
    background: #313a46;
    color: white;
}

.angelcam-connector__logs h2 {
    cursor: pointer;
}

.angelcam-connector__log-messages {
    display: none;
    min-height: 20em;
    width: 100%;
    font-family: monospace;
    font-size: .8rem;
}

.angelcam-connector__log-messages.is-visible {
    display: block;
}
